/***********************/
/* CSS VARIABLE */
/***********************/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --clr-primary: #558aff;
  --clr-primary-darker: #446ecc;
  --clr-background: #e5ebf4;
  --clr-background-transparent: rgba(229, 235, 244, 0.95);
  --clr-text: #1e1e1e;
  --clr-text-lighter: #1e1e1ed9;
  --clr-white-transparent: rgba(255, 255, 255, 0.95);
  --clr-white: #fff;
  --clr-white-darker: #ddd;
  --clr-black: #111;
}

.dark-mode {
  --clr-background: #1e1e1e;
  --clr-background-transparent: rgba(40, 40, 40, 0.95);
  --clr-text: #f5f5f5;
  --clr-text-lighter: #f5f5f5d9;
  --clr-white: #e5ebf4;
  --clr-white-darker: #ced4dc;
}

/***********************/
/* CSS RESET */
/***********************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--clr-background);
  color: var(--clr-text);
  min-height: 100vh;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  display: inline-block;
  text-decoration: none;
}

/***********************/
/* REUSEABLE CSS */
/***********************/

.container {
  max-width: 112rem;
  margin: 0 auto;
}

.section {
  padding: 9.6rem 3.2rem;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.grid-template-columns-2 {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: repeat(2, 1fr);
}

.flex {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  /* ie 10 */
  display: -webkit-flex;
  display: flex;
}

.align-items-center {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  /* ie 10 */
  align-items: center;
}

.justify-content-center {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  /* ie 10 */
  justify-content: center;
}

.justify-content-space-between {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  -webkit-box-pack: space-between;
  -ms-flex-pack: justify;
  /* ie 10 */
  justify-content: space-between;
}

.center {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  /* ie 10 */
  display: -webkit-flex;
  display: flex;

  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  /* ie 10 */
  align-items: center;

  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  /* ie 10 */
  justify-content: center;
}

.flex-direction-column {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  /*ie10*/
  flex-direction: column;
}

.section-heading {
  color: var(--clr-primary);
  font-size: 4.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.section-subheading {
  font-size: 3rem;
  font-weight: 700;
  text-transform: capitalize;
}

.section-text {
  font-size: 2.2rem;
  letter-spacing: 0.2px;
  margin-top: 1.6rem;
}

/***********************/
/* HELPER CLASSES */
/***********************/

.fz-74 {
  font-size: 7.4rem;
}

.gap-1 {
  gap: 1.2rem;
}

.gap-2 {
  gap: 2.4rem;
}

.gap-3 {
  gap: 3.2rem;
}

.gap-4 {
  gap: 4.8rem;
}

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/