/***********************/
/* HEADER */
/***********************/

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 9.6rem;
  width: 100%;
  background-color: var(--clr-background);
  padding: 0 4.8rem;
  z-index: 10;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.scrolled-down {
  background-color: var(--clr-background-transparent);
  box-shadow: rgba(33, 35, 38, 0.1) 0rem 1rem 1rem -1rem;
  height: 8rem;
}

.logo {
  color: var(--clr-primary) !important;
}

.logo .fa-terminal {
  font-size: 4.4rem;
}

.logo span {
  font-size: 3.2rem;
  font-weight: 700;
}

.nav-link:link,
.nav-link:visited {
  color: var(--clr-text);
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: var(--clr-primary);
}

.nav .nav-link.active {
  color: var(--clr-primary);
}

/***********************/
/* Body*/
/***********************/


/* body {
  background-color: #00bfff52;
} */
/* body {
  background: linear-gradient(to bottom, #ff0000, #00ff00, #0000ff);
} */

/* body {
  background: linear-gradient(to right, #ff0000, #00ff00, #0000ff, #ffff00);
} */

body {
  background: linear-gradient(to bottom, #f1c40f69, #e780267e, #3498db65, #2ecc706d);
}

/* body {
  background: linear-gradient(to bottom, #ffffff, #000000);
  color: #ffffff; /* Set text color to white for high contrast */


/***********************/
/* THEME SWITCH */
/***********************/

/* .switch {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.7rem;
  position: relative;
  display: inline-block;
  width: 6.4rem;
  height: 3.4rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73c0fc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 3rem;
  width: 3rem;
  border-radius: 20px;
  left: 0.2rem;
  bottom: 0.2rem;
  z-index: 2;
  background-color: #e8e8e8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.sun svg {
  position: absolute;
  top: 0.6rem;
  left: 3.6rem;
  z-index: 1;
  width: 2.4rem;
  height: 2.4rem;
}

.moon svg {
  fill: #73c0fc;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 1;
  width: 2.4rem;
  height: 2.4rem;
}

/* .switch:hover */
/* .sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
} */

/* .switch:hover */
/* .moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  75% {
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.dark-mode .slider {
  background-color: #183153;
}

.dark-mode .slider:before {
  -webkit-transform: translateX(3rem);
  -ms-transform: translateX(3rem);
  transform: translateX(3rem);
} */

/***********************/
/* MOBILE NAV */
/***********************/

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
  position: relative;
  width: 4rem;
  height: 4rem;
  gap: 1rem;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.bars {
  width: 100%;
  height: 0.4rem;
  background-color: var(--clr-primary);
  border-radius: 4px;
}

#bar2 {
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

#bar1,
#bar3 {
  width: 70%;
}

.btn-mobile-nav.active .bars {
  position: absolute;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.btn-mobile-nav.active #bar2 {
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.btn-mobile-nav.active #bar1 {
  width: 100%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* .btn-mobile-nav.active #bar3 {
  width: 100%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
} */

/* .btn-mobile-nav.active {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
} */

/***********************/
/* HERO SECTION */
/***********************/

.hero-section {
  padding: 9.6rem 3.2rem 0;
  position: relative;
  min-height: 100vh;
  min-height: 100svh;
}

h1 {
  color: var(--clr-primary);
  font-size: 7.4rem;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1;
  margin-bottom: 2.4rem;
}

h1 span {
  color: var(--clr-text-lighter);
  font-size: 5.2rem;
  text-transform: uppercase;
}

.social-links {
  user-select: none;
}

.hero-section .social-link:link,
.hero-section .social-link:visited {
  font-size: 4rem;
  color: var(--clr-text);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.hero-section .social-link:hover,
.hero-section .social-link:active {
  color: var(--clr-primary);
  -webkit-transform: translateY(-0.3rem);
  -ms-transform: translateY(-0.3rem);
  transform: translateY(-0.3rem);
}

.hero-section .social-link:first-child {
  margin-right: 1.6rem;
}

.hero-img-box {
  position: relative;
  max-width: 35rem;
}

.hero-img-container {
  aspect-ratio: 1 / 1.5;
  align-items: end;
  border-radius: 0 0 100vw 100vw;
  overflow: hidden;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  user-select: none;
}

.hero-img-container:hover {
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  transform: scale(1.06);
}

.hero-img-background {
  position: absolute;
  inset: auto 0 0;
  margin: 0 auto;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: linear-gradient(180deg,
      rgba(78, 125, 240, 0.5) 0%,
      rgba(106, 129, 251, 0) 100%);
}

.hero-img {
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.hero-img-container:hover .hero-img {
  -webkit-transform: translateY(-1.6rem);
  -ms-transform: translateY(-1.6rem);
  transform: translateY(-1.6rem);
}

.scroll-down-container {
  z-index: 5;
  position: absolute;
  bottom: 7%;
  left: 50%;
  -webkit-transform: translate(-50%, -7%);
  -ms-transform: translate(-50%, -7%);
  transform: translate(-50%, -7%);
  user-select: none;
}

.scroll-down {
  height: 6.2rem;
  animation: 2.35s linear 0s infinite normal none running upAndDown;
}

.scroll-down .mouse {
  fill: var(--clr-text);
  height: 100%;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}

.scroll-down-container:hover .mouse {
  fill: var(--clr-primary);
}

@keyframes upAndDown {
  50% {
    -webkit-transform: translateY(1.6rem);
    -ms-transform: translateY(1.6rem);
    transform: translateY(1.6rem);
  }
}

/***********************/
/* SKILLS SECTION */
/***********************/

.skills-section {
  padding: 9.6rem 3.2rem;
}

.skills {
  margin-top: 4.4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8.6rem 8.6rem 8.6rem 8.6rem;
  grid-template-columns: repeat(4, 8.6rem);
}

.skill {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--clr-white);
  box-shadow: rgba(0, 0, 0, 0.18) 0rem 0.2rem 0.4rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.skill:hover {
  -webkit-transform: translateY(-1rem);
  -ms-transform: translateY(-1rem);
  transform: translateY(-1rem);
}

.skill-img {
  width: 5.5rem;
  width: 50%;
}

/***********************/
/* ABOUT SECTION */
/***********************/

.about-section {
  -ms-grid-columns: 42fr 58fr;
  grid-template-columns: 42fr 58fr;
}

.about-img-box img {
  border-radius: 10px;
}

.more-info {
  text-align: center;
  margin-top: 1.6rem;
}

.more-info h5 {
  color: var(--clr-primary);
  font-size: 2.4rem;
  font-weight: 700;
}

/* Style for the "Download PDF" button */
.note-card a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  margin-bottom: 20px;
  /* Adjust the value to control the amount of spacing */

}

.note-card a:hover {
  background-color: #2980b9;
}

/***********************/
/* PROJECT SECTION */
/***********************/

.carousel-container {
  margin-top: 2rem;
  overflow-x: hidden;
}

.carousel-nav {
  padding: 1rem 0 0 1rem;
  margin-bottom: 3rem;
}

.carousel-nav .nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.carousel-nav .nav-btn:first-child {
  margin-right: 1.6rem;
}

.carousel-nav .nav-btn .fa-solid {
  color: var(--clr-text);
  font-size: 4.4rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.tech-use li:not(:last-child) {
  margin-right: 2.4rem;
}

.carousel-nav .nav-btn:hover .fa-solid {
  color: var(--clr-primary);
}

.carousel-nav .nav-btn:hover .fa-circle-arrow-left {
  -webkit-transform: translateX(-0.3rem);
  -ms-transform: translateX(-0.3rem);
  transform: translateX(-0.3rem);
}

.carousel-nav .nav-btn:hover .fa-circle-arrow-right {
  -webkit-transform: translateX(0.3rem);
  -ms-transform: translateX(0.3rem);
  transform: translateX(0.3rem);
}

.carousel {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.slide {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 100%;
  /* Safari 6.1+ */
  flex-basis: 100%;
}

.project-img {
  border-radius: 5px;
  overflow: hidden;
}

.project-img img {
  width: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.project-img img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.project-description h4 {
  color: var(--clr-primary);
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.tech-use {
  margin: 1.6rem 0 2.4rem;
  list-style: none;
}

.tech-use li {
  display: inline-block;
}

.tech-use li:not(:last-child) {
  margin-right: 2.4rem;
}

.project-link:link,
.project-link:visited {
  font-size: 3.2rem;
  color: var(--clr-text);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.project-link:hover,
.project-link:active {
  color: var(--clr-primary);
  -webkit-transform: translateY(-0.3rem);
  -ms-transform: translateY(-0.3rem);
  transform: translateY(-0.3rem);
}

.carousel-dots {
  margin-top: 4.8rem;
  text-align: center;
}

.carousel-dots .dot {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  margin: 0 0.4rem;
  cursor: pointer;
  border: 2px solid var(--clr-primary);
}

.carousel-dots .dot.active {
  background-color: var(--clr-primary);
}

/***********************/
/* BLOG SECTION */
/***********************/

.blog-container {
  margin-top: 3rem;
}

.small-blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.blog-img {
  border-radius: 10px;
  overflow: hidden;
}

.blog-img img {
  width: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.blog-img img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.big-blog {
  margin-bottom: 3.2rem;
}

.blog-heading {
  color: var(--clr-primary);
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.blog-subheading {
  color: var(--clr-text);
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.6rem;
  text-transform: capitalize;
}

.small-blog .blog-heading {
  margin-top: 1.6rem;
  font-size: 2.4rem;
}

.small-blog .blog-subheading {
  font-size: 2.2rem;
}

/***********************/
/*  SECTION */
/***********************/

.contact-container {
  margin-top: 3rem;
}

.contact-form-container {
  background-color: var(--clr-white);
  padding: 4.8rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0rem 0.5rem 1.5rem 0rem;
}

.contact-form {
  gap: 2rem;
}

.form-group {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form-group label {
  font-weight: 500;
  margin: 0 0 0.6rem 0.6rem;
  color: var(--clr-black);
}

.form-group input,
.form-group textarea {
  background: transparent;
  color: var(--clr-black);
  border: 2px solid var(--clr-white-darker);
  border-radius: 5px;
  padding: 1.2rem 1.6rem;
  font-weight: 500;
  font-size: 1.8rem;
  resize: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: var(--clr-primary);
}

.form-btn {
  align-self: self-start;
  padding: 1.2rem 3.2rem;
  border-radius: 5px;
  border: none;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  font-weight: 500;
  font-size: 1.8rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form-btn:hover {
  background-color: var(--clr-primary-darker);
  box-shadow: rgba(0, 0, 0, 0.18) 0rem 0.2rem 0.4rem;
}

.contact-link-container {
  padding: 4.8rem;
}

.contact-links {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.contact-link .icon {
  width: 7.4rem;
  height: 7.4rem;
  border-radius: 50%;
  background-color: var(--clr-white);
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}

.contact-link:hover .icon {
  box-shadow: rgba(0, 0, 0, 0.08) 0rem 0.4rem 1.2rem;
}

.contact-link .icon .fa-solid {
  color: var(--clr-primary);
  font-size: 3.6rem;
}

.contact-link h5 {
  color: var(--clr-primary);
  font-size: 2rem;
  margin-bottom: 0.4rem;
  font-weight: 700;
}

.contact-link p {
  color: var(--clr-text);
  font-size: 2rem;
}

/***********************/
/* THANKS SECTION */
/***********************/

.thanks-section {
  padding: 0 3.2rem;
  min-height: 100vh;
  min-height: 100svh;
}

.thanks-container {
  text-align: center;
  padding: 4.8rem;
  background-color: var(--clr-white);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0rem 0.5rem 1.5rem 0rem;
}

.thanks-container .icon {
  font-size: 7.4rem;
  color: var(--clr-primary);
  margin-bottom: 0.8rem;
}

.thanks-container h2 {
  color: var(--clr-black);
  font-size: 3.2rem;
  margin-bottom: 1.2rem;
}

.thanks-container p {
  color: var(--clr-black);
  line-height: 1.7;
}

.back-to-site {
  margin-top: 2.6rem;
  display: block;
  border-radius: 5px;
  padding: 1.2rem;
  color: var(--clr-white);
  background-color: var(--clr-primary);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.back-to-site:hover,
.back-to-site:active {
  background-color: var(--clr-primary-darker);
}

.back-to-site .fa-arrow-left {
  margin-right: 0.8rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.back-to-site:hover .fa-arrow-left,
.back-to-site:active .fa-arrow-left {
  -webkit-transform: translateX(-0.4rem);
  -ms-transform: translateX(-0.4rem);
  transform: translateX(-0.4rem);
}

/***********************/
/* FOOTER */
/***********************/

footer {
  padding: 4.8rem 3.2rem;
  background: var(--clr-black);
}

footer p {
  text-align: center;
  color: var(--clr-white);
  font-size: 3.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

footer .social-links {
  gap: 1.6rem;
}

footer .social-link:link,
footer .social-link:visited {
  color: var(--clr-white);
  font-size: 3.6rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

footer .social-link:hover,
footer .social-link:active {
  color: var(--clr-primary);
  -webkit-transform: translateY(-0.3rem);
  -ms-transform: translateY(-0.3rem);
  transform: translateY(-0.3rem);
}