/* styles.css */

/* Header */
.post {
    margin-bottom: 20px;
  }
  
.navbar {
    background-color: #66b3ff;
    padding: 20px;
    text-align: center;
    color: #ffffff;
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 24px;
  }
  
  .navbar-nav {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 10px;
  }
  
  .nav-item {
    margin: 0 10px;
  }
  
  .nav-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav-link.active {
    font-weight: bold;
  }
  
  /* Hero Section */
  .hero {
    text-align: center;
    background-color: #f7f7f7;
    padding: 50px 0;
  }
  
  .hero-img {
    width: 300px;
    height: 300px;
  }
  
  .hero-heading {
    font-size: 32px;
    margin-top: 20px;
    color: #333333;
  }
  
  .heading-inverted {
    color: #66b3ff;
  }
  
  /* Blog Section */
  .container-center {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .post h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .link-primary {
    color: #66b3ff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .link-primary:hover {
    text-decoration: underline;
  }
  
  /* Footer */
  .footer {
    background-color: #f7f7f7;
    padding: 20px;
    text-align: center;
    color: #333333;
  }
  
  .footer-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .list-non-bullet {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .list-item-inline {
    margin: 0 10px;
  }
  
  .fa {
    color: #333333;
    text-decoration: none;
    font-size: 24px;
  }
  
  .fa:hover {
    color: #66b3ff;
  }
  