@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');



form {
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

label,
input,
textarea {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

label {
  font-weight: bold;
}

input,
textarea {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: #ea580c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

section {
  background-color: var(--bg-color);
  color: var(--text-color);
}


.navbar {
  display: flex;
  align-items: center;
  background-color: #66b3ff;
  padding: 10px 20px;
}

.navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  margin-right: auto;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  color: #333;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px;
  transition: all 0.2s;
  border-radius: 12px;
}

.nav-link:hover {
  background-color: #ea580c;
  color: #fff;
}

.nav-link.active {
  background-color: #ea580c;
  color: #fff;
}


:root {
  --primary-color: #0077c2;
  --Orange: #66b3ff;
  --off-white: #F3F4F6;
  --gray-color: #9CA3AF;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  display: inline-flex;
  width: 96.4vw;
  margin-left: auto;
  margin-right: auto;
}

.navigation .nav-brand {
  font-weight: bold;
  font-size: 18px;
  padding: 1rem;
  flex-grow: 1;
  flex-basis: 0;
}

.navigation .nav-pills {
  /* text-align: right; */
  padding: 0;

}

.navigation .link {
  color: white;
}

.navigation .link-active {
  font-weight: bold;
}

.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  /* padding: 0rem 0.5rem; */
}

.hero {
  padding: 2rem;
  padding-top: 5rem;

}

.hero .hero-img {
  max-width: 500px;
  display: block;
  margin: auto;

}

.hero .hero-heading {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 3rem;
  /* color: var(--Orange); */
}

.hero .hero-heading .heading-inverted {
  color: var(--primary-color);
}

.wrapper {

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.margin-md {
  margin: 2rem;
}

/** container **/
.container {
  padding: 0rem 1rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
  padding-bottom: 2rem;
}

/* link  */
/* .link{
    height: 3vh;
    width: 8vw;
    margin: auto;
  }
   */
.link {
  box-sizing: border-box;
  text-decoration: none;
  /* padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem; */
  height: 3vh;
  width: 8vw;
  margin: auto;
}

.link-primary {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: white;
  display: inline;
  padding: 0.8rem;
  /* max-width: 140px; */
  /* margin: 1rem 1rem 1rem 0rem; */
}

.link-primary:hover {
  /* background-color: aqua;
    border-radius: 0.7rem; */
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.secondary-link {
  border-radius: 0.5rem;
  border: 1px solid #efe9e6;
  color: #e8ddd6;
  padding: 0.8rem;
  background-color: var(--primary-color);

}

.secondary-link:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.main {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* .footer {
    background-color: var(--primary-color);
    padding: 0.5rem 0rem;
    text-align: center;
    color: white;
    border-top-right-radius: 3rem;
    margin-top: 10vh;
}

.footer .footer-header {
    font-weight: bold;

}

.main .footer-header {
    font-size: 19px;
}

.footer .link {
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
}

.fa {
    padding: 1rem;
    color: rgb(250, 248, 248);
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.space {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.space:hover {
    color: var(--primary-color);
    text-decoration: none;
} */

.footer {
  background-color: #66b3ff;
  padding: 20px;
  text-align: center;
}

.footer-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.list-non-bullet {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.list-item-inline {
  margin: 0 10px;
}

.fa {
  color: #555;
  transition: all 0.3s ease;
  text-decoration: none;
  /* new code to remove underline */
}

.fa:hover {
  color: #007bff;
}

.fa-twitter:hover {
  color: #1da1f2;
}

/* LinkedIn icon */
.fa-linkedin:hover {
  color: #0077b5;
}

/* GitHub icon */
.fa-github:hover {
  color: #211f1f;
}

/** section **/

.section {
  padding: 2rem;
}

.section h1 {
  text-align: center;
}

.ow {
  background-color: var(--off-white);
}

.text {
  color: var(--primary-color);
  font-size: 15px;
}

.wrapper {
  font-size: 15px;
}

.space {
  text-decoration: none;
  font-weight: bold;
  color: black;
  padding-left: 0.5rem;
}

.space:hover {
  color: var(--primary-color);
  /* -moz-text-decoration-color: ; */
}

@media only screen and (max-width: 700px) {

  /* .navigation {
        width: 91vw;
    }

    .navigation .nav-brand {
        font-size: 12px;
    }

    .list-item-inline {
        padding: 0rem 5px;
    }


    .hero .hero-img {
        max-width: 300px;
        display: block;
    }

    .para-font {
        font-size: 0.7rem;
    }

    .head {
        height: 12vh;
        font-size: 1.2rem;

    }


    .link-1 {
        text-decoration: none;
        font-size: 10px;

    }

    .footer .footer_link {
        font-size: 12px;
    }

    .main .footer-header {
        font-size: 15px;
    }

} */
  /* Styles for screens smaller than 600px */
  @media (max-width: 600px) {
    form {
      width: 100%;
      padding: 10px;
    }

    input[type="submit"] {
      font-size: 14px;
      padding: 10px 15px;
    }
  }

  /* Styles for screens larger than 600px */
  @media (max-width: 600px) {
    form {
      width: 100%;
      padding: 10px;
    }

    input[type="submit"] {
      font-size: 14px;
      padding: 10px 15px;
    }
  }

  /* Styles for screens smaller than 600px */
  @media (max-width: 600px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
    }

    .navbar-brand {
      margin-bottom: 10px;
      margin-right: 0;
    }

    .navbar-nav {
      margin-top: 10px;
    }

    .nav-item {
      margin: 0 0 10px 0;
    }

    .nav-link {
      padding: 5px;
      font-size: 1em;

    }
  }

  /* Styles for screens larger than 600px */
  @media (min-width: 600px) {
    .navbar {
      justify-content: space-between;
      padding: 10px 20px;
    }

    .navbar-brand {
      margin-right: auto;
    }

    .navbar-nav {
      margin: 0;
    }

    .nav-item {
      margin: 0 10px;
    }

    .nav-link {
      padding: 10px;
      font-size: 1.2em;
    }
  }

  /* Styles for screens smaller than 600px */
  @media (max-width: 600px) {
    body {
      overflow-x: hidden;
    }

    .navigation {
      flex-direction: column;
      align-items: center;
      border-radius: 0;
    }

    .navigation .nav-brand {
      margin-bottom: 1rem;
      padding: 0;
      text-align: center;
    }

    .navigation .nav-pills {
      text-align: center;
      padding: 0;
    }

    .navigation .list-item-inline {
      display: block;
      margin: 1rem 0;
    }
  }

  /* Styles for screens larger than 600px */
  @media (min-width: 600px) {
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .navigation {
      flex-direction: row;
      border-bottom-left-radius: 1rem;
    }

    .navigation .nav-brand {
      margin-bottom: 0;
      text-align: left;
    }

    .navigation .nav-pills {
      text-align: right;
      padding-right: 1rem;
    }

    .navigation .list-item-inline {
      margin: 0 0.5rem;
    }
  }

  @media only screen and (max-width: 768px) {
    .hero {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    .hero .hero-img {
      max-width: 100%;
    }

    .hero .hero-heading {
      font-size: 1.5rem;
      padding-top: 1rem;
      padding-bottom: 2rem;
    }
  }

  @media only screen and (max-width: 576px) {
    .hero .hero-heading {
      font-size: 1.2rem;
      padding-top: 0.5rem;
      padding-bottom: 1.5rem;
    }
  }

  @media screen and (max-width: 768px) {
    .wrapper {
      flex-direction: column;
    }

    .margin-md {
      margin: 1rem;
    }

    .container-center {
      max-width: 100%;
    }
  }

  @media screen and (max-width: 576px) {
    .container {
      padding: 0rem 0.5rem;
    }

    .container-center {
      padding-bottom: 1rem;
    }
  }

  @media only screen and (max-width: 768px) {
    .link {
      height: 5vh;
      width: 20vw;
    }

    .link-primary {
      /* max-width: 100px; */
      padding: 0.5rem;
      font-size: 0.8rem;
    }

    .secondary-link {
      padding: 0.5rem;
      font-size: 0.8rem;
    }

    .main {
      width: 80%;
    }
  }

  /* adjust styles for smaller screens */
  @media only screen and (max-width: 768px) {

    /* Styles for screens smaller than 768px */
    .container-center {
      max-width: 90%;
    }

    .main {
      width: 90%;
    }

    .link {
      height: 4vh;
      width: 12vw;
    }

    .link-primary {
      padding: 1rem;
    }

    .secondary-link {
      padding: 1rem;
    }

    @media only screen and (max-width: 576px) {

      /* Styles for screens smaller than 576px */
      .container-center {
        max-width: 100%;
      }

      .main {
        width: 100%;
      }

      .link {
        height: 5vh;
        width: 15vw;
      }

      .link-primary {
        padding: 1.2rem;
      }

      .secondary-link {
        padding: 1.2rem;
      }

      .footer {
        margin-top: 5vh;
      }

      @media only screen and (max-width: 768px) {
        .wrapper {
          font-size: 12px;
        }

        .link {
          height: 4vh;
          width: 12vw;
        }

        .link-primary {
          padding: 0.7rem;
        }

        .secondary-link {
          padding: 0.7rem;
        }

        .section {
          padding: 1rem;
        }

        .section h1 {
          font-size: 24px;
        }

        .text {
          font-size: 12px;
        }

        .space {
          font-size: 14px;
        }
      }

    }


  }
}